body {
    padding: 10px;
}

.container {
    display: flex;
    align-items: flex-start; /* Align items at the top of the container */
    max-width: 800px;
    margin: 20 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Remove default underline from the link */
    color: inherit; /* Inherit text color from parent */
}
.item-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}
.item-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.item-details {
    flex: 2;
}
.item-title {
    font-size: 24px;
    margin: 0;
}
.item-description {
    font-size: 16px;
    color: #555;
}
.item-date{
    font-size: 12px;
    color: #616161;
}
.item-price {
    font-size: 18px;
    margin: 10px 0;
}
.item-price {
    color: #e74c3c;
    font-weight: bold;
}

/* Style for form container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* General form styling */
.form {
    display: flex;
    flex-direction: column;
}

/* Align form groups */
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styling form controls */
.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.bid-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
